/* estilo general*/
body{
    background-color: black;
    color:white;
    font-family: Arial, sans-serif;
}
/* contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center; /* centrar horizontalmente*/
    gap: 20px; /* espacio entre tarjetas*/
    flex-wrap: wrap; /* permite que se acomoden a la pantall a*/
    padding: 20px;
}
/* estilo para las tarjetas*/
.card{
    width: 18rem;
    background-color: rgb(255, 115, 0);
    color: white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgb(rgb(255, 255, 255));
}
/* efecto hover de la tarjeta*/
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(rgb(255, 255, 255))
}
/* imagen dentro de las tarjetas*/
.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
/* estilo del boton*/
.card .btn{
    background-color: red;
    color:white;
    transition: background 0.3s ease-in-out;
}

.card .btn:hover{
    background-color: red;
}
/* Responsividad: en pantalla chicas*/
@media (max-width: 600px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }
}   